{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["standard", "react-app", "plugin:prettier/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["standard", "react", "prettier"],
  "rules": {
    "camelcase": ["error", { "ignoreDestructuring": true, "properties": "never" }],
    "prefer-promise-reject-errors": 0,
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true,
        "ignoreUrls": true,
        "ignoreTrailingComments": true,
        "ignoreComments": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline"
      }
    ]
  }
}
