.template-text[placeholder]:empty::before {
  content: attr(placeholder);
  color: rgb(158, 158, 158);
}

.template-text[placeholder]:empty:focus::before {
  content: "";
}

.handle {
  opacity: 0;
  transition: opacity 150ms ease;
}

.item-template:hover .handle {
  opacity: 1;
}